NODE_ENV=development
APP_PORT=5088

# URLS
GOOGLE_CALLBACK_URL=http://localhost:5088/api/v1/auth/google/callback


# OAUTH
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=


# SECRET'S
SESSION_SECRET_KEY=
ACCESS_TOKEN_SECRET=


# DATABASE
DB_HOST=localhost
DB_PORT=5435
DB_NAME=pg-test
DB_USER=postgres
DB_PASSWORD=postgres
DB_MAX_CONNECTIONS=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=2000